<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="std" class="com.spring_entity.Student">
	<!-- <property name="stud_id" value="100"></property>-->
	<!-- 
	<constructor-arg  index="0" value="21"></constructor-arg>
	<constructor-arg  index="1" value="shiv"></constructor-arg>
	<constructor-arg  index="2" value="56"></constructor-arg>
	<constructor-arg  index="3" value="pune"></constructor-arg>
	-->
	
	<property name="stud_id" value="1"></property>
	<property name="stud_age" value="23"></property>
	<property name="stud_name" value="sunil"></property>
	<property name="stud_city" value="nanded"></property>
	<property name="con" ref="c"></property>
	
	</bean>
	<bean id="c" class="com.spring_entity.Country">
	<property name="c_id" value="91"></property>
	<property name="c_name" value="india"></property>
	</bean>
</beans>